.forms {
    display: none;
    margin-bottom: 180px;
}

form {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 1px;
}